<!DOCTYPE html>
<html>
<head>
    <title>New Book</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1 class="title"><%= `Create a new book for ${author.name}` %></h1>
<form name="book" method="POST" action=<%= `/authors/${author.id}/books/new` %>>
    <table>
        <tr>
            <% if (!failedFields) { var failedFields = []} %>
            <% if (!values) { var values = {}} %>
            <td>The book title</td>
            <td><input type="text" id="book-title" name="title" value=<%= values.title %>></td>
        </tr>
        <tr>
            <td colspan="2">
                <ul>
                    <% failedFields.filter((error) => error.path.join("/") === "title").forEach((error) => { %>
                        <li><%= error.message %></li>
                    <% }) %>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>
